version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "pydocstyle"
        update-types: ["version-update:semver-minor"]

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
