[dev-packages]
mypy = "*"
build = "*"
sphinx = "*"
pycodestyle = "*"
pyflakes = "*"
mccabe ="*"
radon="*"
pydocstyle = {extras = ["toml"], version = "*"}
pylint = "*"
toml = "*"
pylama = "*"
vulture = "*"
eradicate = "*"


[requires]
python_version = "3.11"
python_full_version = "3.11.3"
