[dev-packages]
mypy = "*"
build = "*"
sphinx = "*"
pycodestyle = "*"
pyflakes = "*"
mccabe ="*"
radon="*"
# pydocstyle>=6.2 breaks lama: https://github.com/klen/pylama/issues/232
pydocstyle = "==6.1.1"
pylint = "*"
toml = "*"
pylama = "*"
vulture = "*"
eradicate = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
