name: Build

on: [push]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            docs.python.org:443
            files.pythonhosted.org:443
            release-assets.githubusercontent.com:443
            github.com:443
            pypi.org:443
            packages.microsoft.com:443
            azure.archive.ubuntu.com:80
            esm.ubuntu.com:443
            security.ubuntu.com:443
            archive.ubuntu.com:443
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: 0.9.1
          enable-cache: true
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - run: |
          sudo apt-get -y update
          sudo apt-get -y install enchant-2 aspell-en
          uv run ./check.sh --no-fix --cov "markdown:$GITHUB_STEP_SUMMARY"

  publish:
    runs-on: ubuntu-latest
    needs: check
    environment: ${{ github.ref_type == 'tag' && 'release' || 'test' }}
    if: ${{ github.event_name == 'push' }}
    permissions:
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            docs.python.org:443
            files.pythonhosted.org:443
            release-assets.githubusercontent.com:443
            github.com:443
            pypi.org:443
            *.pypi.org:443

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          version: 0.9.1
          enable-cache: true
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.11"
      - run: ./publish.sh ${{ vars.PYPI_REPOSITORY }}  ${{ github.ref_name != 'main' && github.ref_type != 'tag' && '--build-only' || '' }}
