name: Build

on: [push, pull-request]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            docs.python.org:443
            files.pythonhosted.org:443
            release-assets.githubusercontent.com:443
            github.com:443
            pypi.org:443
            packages.microsoft.com:443
            azure.archive.ubuntu.com:80
            esm.ubuntu.com:443
            security.ubuntu.com:443
            archive.ubuntu.com:443
      - if: github.event_name == 'push' || github.event_name == 'pull_request'
        run: echo "Running due to event: ${{ github.event_name }}"
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          version: 0.9.1
          enable-cache: true
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
      - run: |
          sudo apt-get -y update
          sudo apt-get -y install enchant-2 aspell-en
          uv run ./check.sh --no-fix --cov xml

  publish:
    runs-on: ubuntu-latest
    needs: check
    environment: ${{ github.ref_type == 'tag' && 'release' || 'test' }}
    if: ${{ github.event_name == 'push' }}
    permissions:
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            docs.python.org:443
            files.pythonhosted.org:443
            release-assets.githubusercontent.com:443
            github.com:443
            pypi.org:443
            *.pypi.org:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41  # v7.1.2
        with:
          version: 0.9.1
          enable-cache: true
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.11"
      - run: ./publish.sh ${{ vars.PYPI_REPOSITORY }}  ${{ github.ref_name != 'main' && github.ref_type != 'tag' && '--build-only' || '' }}
