name: Dependabot auto-merge
on: pull_request

permissions:
  contents: read

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          # To support updating versions of github-actions a personal access token is needed
          # See: https://stackoverflow.com/a/66644086
          # In GitHub settings (Security -> Secrets and variables) this token needs to be configured for
          # - Actions and
          # - Dependabot
          GH_TOKEN: ${{secrets.WORKFLOW_TOKEN}}
